.main{
  height: 800px;
  width: 700px;
}
.div-btn{
  display: flex;
  align-items: center;
}
.btn{
  height: 100px;
  width: 150px;
  margin: 50px;
  border-radius: 20px;
  background-color: white;
  
  
  
}
